<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="leader" default="leader"/>
	<arg name="ego" default="ego"/>
	<param name="/$(arg ego)/init_gap" value="0.0"/>
	<param name="/$(arg ego)/HEADWAY_SMOOTHING" value="false"/>
	<param name="/$(arg leader)/init_gap" value="30.0"/>

	<arg name='hoffman' default='true'/>

	<group ns="$(arg leader)">
		<node pkg="synthetic_data" type="synthetic_data_node" name="synthetic_data_$(arg leader)" output="screen">		
			<!--remap from="vel" to="cmd_control_vel" if="$(arg hoffman)"/-->
			<remap from="vel" to="cmd_vel"/>
		</node>
		<node pkg="odom2float" type="odom2float_node" name="odom2float_$(arg leader)" output="screen">
		</node>
                <node pkg="hoffmansubsystem" type="hoffmansubsystem_node" name="hoffmansubsystem_$(arg leader)" output="screen" if="$(arg hoffman)"/>
	
	</group>

	<group ns="ego">
		<node pkg="flow_model_eugene_06_18_2021" type="flow_model_eugene_06_18_2021_node" name="flow_model_eugene_06_18_2021" output="screen">		
			<remap from="lead_vel" to="/$(arg leader)/vel"/>
			<remap from="leader_dist_x" to="/$(arg leader)/dist_x"/>

		</node>
		<node pkg="integrator" type="integrator_node" name="integrator" output="screen">		
			<remap from="cmd_vel" to="cmd_control_vel" if="$(arg hoffman)"/>
		</node>

		<node pkg="odom2float" type="odom2float_node" name="odom2float_$(arg ego)" output="screen">
		</node>

		<node pkg="hoffmansubsystem" type="hoffmansubsystem_node" name="hoffmansubsystem_$(arg ego)" output="screen" if="$(arg hoffman)"/>


	</group>
	
	

</launch>
